<div class="misc-facts">
  <div class="misc-facts-title">Fun facts about Yolo:</div>
  <ul class="misc-list">
    <li>
      Yolo is really into J-pop, <a href="{{ '/gallery/' | relative_url }}">illustration</a>, and cosplay — maybe she’s just cosplaying as a
      researcher :)
    </li>
    <li>Please don't deadname or misgender Yolo. She prefers Yolo (in English) or 芸珑 (in Mandarin).</li>
    <li>
      Also prefers <ruby>夜<rt>よる</rt></ruby> (in Japanese, meaning "night"), since Sonta pronounces Yolo like /ˈjoʊ lu/, close to よる.
    </li>
  </ul>
</div>
